#__next {
  height: 100%;
}
/* .main {
  background-color: blueviolet;
} */

/* ======= NAV BAR SECTION ============== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  cursor: pointer;
  margin-left: 1em;
  text-decoration: none;
  color: var(--foreground-color);
}

.brand > h2 {
  margin: 0 0.5em;
}

.menu {
  /* background-color: blueviolet; */
  height: 100%;
}

.menu ul {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu > ul > li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: auto 1.5em;
  font-size: 1.1rem;
  padding: 0.5em;
  height: 100%;
  /* background-color: aqua; */
}

.menu > ul > li > a {
  text-decoration: none;
  /* margin: auto 0; */
  padding: 0;
  color: var(--foreground-color);
  font-family: var(--default-font-family);
  align-self: center;
}

.menu > ul > li:hover {
  background-color: var(--dark-background-color);
}

.menu > ul > li:last-child {
  background-color: var(--orange-color);
  border-radius: 10px;
}

/* ======HERO SECTION =========*/
.hero {
  background: url('../assets/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--foreground-color);
  height: 100vh;
  max-height: 800px;
}

.heroMain {
  display: flex;
  justify-content: space-evenly;
  height: 85%;
  margin-top: 1em;
}

.heroWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: antiquewhite; */
  font-family: var(--default-font-family);
}
.heroWelcome h1 {
  font-size: 7.5rem;
}
.heroWelcome h3 {
  font-size: 2rem;
}

.heroButton {
  width: 6em;
  padding: 1em;
  font-family: var(--default-font-family);
  font-size: 1.5rem;
  background: transparent;
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-top: 1em;
  font-weight: 500;
}

.heroForm {
  display: block;
  position: relative;
  border: 0.5px solid var(--foreground-color);
  border-radius: 10px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  text-align: center;
  padding-top: 5%;
  height: 100%;
}
.heroForm h2 {
  font-family: var(--default-font-family);
}

.formDiv {
  width: 80%;
  margin: auto;
  height: 70%;
  position: absolute;
  top: 20%;
  left: 10%;
}
.formDiv > form {
  height: 100%;
  width: 100%;
}

.heroForm > .formDiv > form > input {
  display: block;
  width: 100%;
  height: 5%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--foreground-color);
  margin: 10% 0;
  color: var(--foreground-color);
  padding: 10px;
}
.heroForm > .formDiv > form > input:last-child {
  /* background-color: var(--dark-background-color); */
  background: rgba(217, 217, 217, 0.2);
  border: 1px solid var(--foreground-color);
  border-radius: 5px;
  height: 12%;
  backdrop-filter: blur(25px);
  margin: 5% 0;
  font-size: 1.4em;
  box-shadow: 0px 6px 12px rgba(5, 10, 16, 0.25);
  font-family: var(--default-font-family);
  max-height: 50px;
}

.heroForm > .formDiv > form > label {
  font-family: var(--default-font-family);
  margin: 2%;
}

.heroForm > .formDiv > form > label > input {
  margin: 5px;
}
/* .formDiv > form > p {
  margin-top: -1em;
} */
.aboutChurchSection {
  padding: 3em;
}
.aboutChurchSection > h2 {
  text-align: center;
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 2.5rem;
  /* height: fit-content; */
}

.aboutChurch {
  display: flex;
  justify-content: space-evenly;
}

.aboutChurchImg {
  width: 100%;
  border-radius: 4px;
  object-fit: contain;
}

.aboutChurchContent {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.aboutChurchContent > p {
  font-family: var(--default-font-family);
  font-size: 1.6rem;
  text-align: justify;
}

.testimoniesSection > h2 {
  text-align: center;
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--orange-color);
  background-color: bisque;
}
.imageDiv {
  width: 40%;
}
